/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-700 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/fraunces-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/fraunces-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-cream: hsl(30, 38%, 92%);
    --dark-graish-blue: hsl(228, 12%, 48%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-cyan: hsl(158, 36%, 37%);
    --hover-dark-cyan: hsl(158, 36%, 20%);
}

/* Globals */
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-cream);
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-graish-blue);
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--very-dark-blue);
}

p {
    font-size: 1rem;
    line-height: 1.65rem;
}

.upper-title {
    font-size: .95rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin: 0;
}

/* Hiding class, making content visible only to screen readers but not visually */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


/* The card */
.card {
    display: flex;
    flex-direction: column;
    margin: 4rem 1.5rem;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
}

.card > * {
    flex-basis: 50%;
}

.card__image img {
    width: 100%;
}

.card__content {
    padding: 2.2rem;
    align-self: center;
}

.card-content__prices {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

.prices-item:nth-child(1) {
    display: inline-block;
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
    font-size: 2.5rem;
}

.prices-item:nth-child(2) {
    font-family: 'Montserrat', serif;
    display: inline-block;
    font-size: 1rem;
}

/* Buttons */
.btn {
    border: none;
    display: block;
    width: 100%;
    padding: 1.25rem 0;
    background-color: var(--dark-cyan);
    border-radius: .5rem;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--hover-dark-cyan);
}


@media only screen and (min-width: 620px) {
    .card {
        display: flex;
        flex-direction: row;
        max-width: 630px;
        margin: 0 1.5rem;
    }

    /* .card__image {
        flex-basis: 50%;
    }

    .card__content {
        flex-basis: 50%;
    } */

    /* .card__image img {
    height: 100%;
    } */

    .card__image {
        position: relative;
        background-color: var(--dark-cyan);
    }

    .card__image img {
        display: block;
        position: absolute;
        height: 100%;
        object-fit: cover;
    }
}
